# Binary files.
__pycache__/

# Environment variables.
.env
venv/
.venv/

# Node modules.
node_modules/
pakage-lock.json

# Random files
notes.txt

# logs
logs/

# Deprecated agents and data
services/graphql/mock_data.py
services/graphql/entity_router.py
services/graphql/database_agent.py

# Config files
config.yaml
debug_config.yaml
debug/

# Everything starting with .
.*
